
@{
    ViewBag.Title = "JQueryDemo";
}

<h2>JQueryDemo</h2>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/Api/JQueryDemo.js"></script>

<body>
    <h2>JavaScript Demo</h2>
    <div id="JavaScriptDemo">
        <div>
            X: <input type="text" id="X" class="input-sm" />&nbsp;
            Y: <input type="text" id="Y" class="input-sm" />
        </div>
        <br />
        <div class="btn">
            <button id="Add" class="btn btn-default">Add</button>&nbsp;&nbsp;
            <button id="Subtract" class="btn btn-default">Subtract</button>
        </div>
        <br />
        <div id="Output"></div>
    </div>
</body>



